@page "/aboutus"

<PageTitle>Մեր Մասին</PageTitle>
<link rel="stylesheet" href="css/aboutus.css" />

<div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Մեր Թիմը</h2>
<div class="row">
  <div class="column">
    <div class="card">
            <img src="/image/OurTeam/VardanApinyan.jpg" alt="Vardan" style="width:100%">
      <div class="container">
        <h2>Վարդան Ափինյան</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>jane@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/image/OurTeam/DavitBabayan.jpg" alt="Davit" style="width:100%">
      <div class="container">
        <h2>Դավիթ Բաբայան</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
  
  <div class="column">
    <div class="card">
        <img src="/image/OurTeam/NvardQochinyan.jpg" alt="Nvard" style="width:100%">
      <div class="container">
        <h2>Նվարդ Քոչինյան</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

    <div class="column">
        <div class="card">
            <img src="/image/OurTeam/MariamGrigoryan.jpg" alt="Mariam" style="width:100%">
            <div class="container">
                <h2>Մարիամ Գրիգորյան</h2>
                <p class="title">CEO & Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>jane@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/image/OurTeam/KarineGhumashyan.jpg" alt="Karine" style="width:100%">
            <div class="container">
                <h2>Կարինե Ղումաշյան</h2>
                <p class="title">Art Director</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>mike@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/image/OurTeam/MeryMikaelyan.jpg" alt="Mery" style="width:100%">
            <div class="container">
                <h2>Մերի Միքայելյան</h2>
                <p class="title">Designer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>john@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/image/OurTeam/LiaAshugyan.jpg" alt="Lia" style="width:100%">
            <div class="container">
                <h2>Լիա Աշուղյան</h2>
                <p class="title">CEO & Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>jane@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/image/OurTeam/VaheMuradyan.jpg" alt="Vahe" style="width:100%">
            <div class="container">
                <h2>Վահե Մուրադյան</h2>
                <p class="title">Art Director</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>mike@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/image/OurTeam/AnahitMinasyan.jpg" alt="Anahit" style="width:100%">
            <div class="container">
                <h2>Անահիտ Մինասյան</h2>
                <p class="title">Designer</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>john@example.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>
@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
