@model LoginViewModel
@{
    Layout = "_LoginLayout";
}

<form method="post" asp-area="Admin" asp-controller="Account" asp-action="Login"
        asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>

    <div>
        <input asp-for="Email" class="form-control mb-3" placeholder="Email" required autofocus />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <input asp-for="Password" class="form-control mb-3" placeholder="Password" required />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="checkbox mb-3">
        <label asp-for="RememberMe">Remember Me</label>
        <input asp-for="RememberMe"/>
    </div>
    <div class="text-center">
        <button class="btn btn-outline-dark btn-block mb-3 w-100" type="submit">Sign In</button>
    </div>
</form>
<a class="btn btn-outline-dark btn-block mb-3 w-100" asp-controller="Countdown" asp-action="Index" type="button">Countdown</a>
