@model ChurchServiceViewModel
<div class="modal-content">
    <form asp-controller="Home" asp-action="DeleteChurchService">

        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ջնջել</h5>
        </div>
        <div class="modal-body">
            Ջնջել ծառայությունը՞
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Փակել</button>
            <button type="submit" class="btn btn-danger">Ջնջել</button>
        </div>
    </form>

</div>