@model IPagedList<CategoryViewModel>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Անուն</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <a asp-controller="Home" asp-action="ManageCategory" asp-route-id="@item.Id" data-bs-toggle="modal" data-bs-target="#dialogDiv" class="btn btn-success btn-sm open-modal">Փոփոխել</a>
                    <a asp-controller="Home" asp-action="DeleteCategory" asp-route-id="@item.Id" data-bs-toggle="modal" data-bs-target="#dialogDiv" class="btn btn-danger btn-sm open-modal">Ջնջել</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="Home" asp-action="ManageCategory" data-bs-toggle="modal" data-bs-target="#dialogDiv" class="btn btn-success open-modal mb-3">Ավելացնել</a>
@if (Model.PageCount > 1)
{
    @Html.PagedListPager(Model, page => Url.Action("Category", new { page = page }),
            new PagedListRenderOptions
    {
        UlElementClasses = new string[] { "pagination" },
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
    })
}